<h1>Listing sessions</h1>

<table>
  <thead>
  <tr>
    <th>Session date</th>
    <th>Circa</th>
    <th>Text date</th>
    <th>Title</th>
    <th>Country</th>
    <th>State</th>
    <th>Session type</th>
    <th>Venue</th>
  </tr>
  </thead>

  <tbody>
<% @sessions.each do |session| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h session.session_date %></td>
    <td><%=h session.circa %></td>
    <td><%=h session.text_date %></td>
    <td><%=h session.title %></td>
    <td><%=h session.country_id %></td>
    <td><%=h session.state_id %></td>
    <td><%=h session.session_type_id %></td>
    <td><%=h session.venue %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New session', new_session_path %>