<p>
  <b>Session date:</b>
  <%=h @session.session_date %>
</p>

<p>
  <b>Circa:</b>
  <%=h @session.circa %>
</p>

<p>
  <b>Text date:</b>
  <%=h @session.text_date %>
</p>

<p>
  <b>Title:</b>
  <%=h @session.title %>
</p>

<p>
  <b>Country:</b>
  <%=h @session.country_id %>
</p>

<p>
  <b>State:</b>
  <%=h @session.state_id %>
</p>

<p>
  <b>Session type:</b>
  <%=h @session.session_type_id %>
</p>

<p>
  <b>Venue:</b>
  <%=h @session.venue %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>