<p>
  <b>First:</b>
  <%=h @artist.first %>
</p>

<p>
  <b>Last:</b>
  <%=h @artist.last %>
</p>

<p>
  <b>Display name:</b>
  <%=h @artist.display_name %>
</p>

<p>
  <b>Skill:</b>
  <%=h @artist.skill_id %>
</p>

<p>
  <b>Birth:</b>
  <%=h @artist.birth %>
</p>

<p>
  <b>Death:</b>
  <%=h @artist.death %>
</p>

<p>
  <b>Birth place:</b>
  <%=h @artist.birth_place %>
</p>

<p>
  <b>Death place:</b>
  <%=h @artist.death_place %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>