<h1>Listing performance_types</h1>

<table>
  <thead>
  <tr>
    <th>Performance type</th>
  </tr>
  </thead>

  <tbody>
<% @performance_types.each do |performance_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h performance_type.performance_type %></td>
    <td><%= link_to 'Show', performance_type %></td>
    <td><%= link_to 'Edit', edit_performance_type_path(performance_type) %></td>
    <td><%= link_to 'Destroy', performance_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New performance_type', new_performance_type_path %>