<h1>Listing song_forms</h1>

<table>
  <thead>
  <tr>
    <th>Song form</th>
  </tr>
  </thead>

  <tbody>
<% @song_forms.each do |song_form| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h song_form.song_form %></td>
    <td><%= link_to 'Show', song_form %></td>
    <td><%= link_to 'Edit', edit_song_form_path(song_form) %></td>
    <td><%= link_to 'Destroy', song_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New song_form', new_song_form_path %>