<h1>Listing music_sessions</h1>

<table>
  <thead>
  <tr>
    <th>Music session date</th>
    <th>Circa</th>
    <th>Text date</th>
    <th>Title</th>
    <th>Country</th>
    <th>State</th>
    <th>Music session type</th>
    <th>Venue</th>
  </tr>
  </thead>

  <tbody>
<% @music_sessions.each do |music_session| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h music_session.music_session_date %></td>
    <td><%=h music_session.circa %></td>
    <td><%=h music_session.text_date %></td>
    <td><%=h music_session.title %></td>
    <td><%=h music_session.country.country %></td>
    <td><%=h music_session.state.try(:state) %></td>
    <td><%=h music_session.music_session_type.music_session_type %></td>
    <td><%=h music_session.venue %></td>
    <td><%= link_to 'Show', music_session %></td>
    <td><%= link_to 'Edit', edit_music_session_path(music_session) %></td>
    <td><%= link_to 'Destroy', music_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New music_session', new_music_session_path %>
