<%= form_for(@music_session_type) do |f| %>
  <%= f.error_messages :class => "error", :id => nil%>

  <p>
    <%= f.label :music_session_type %><br />
    <%= f.text_field :music_session_type %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
