<h1>Listing session_types</h1>

<table>
  <thead>
  <tr>
    <th>Session type</th>
  </tr>
  </thead>

  <tbody>
<% @session_types.each do |session_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to session_type.session_type, session_type %></td>
    <td><%= link_to 'Edit', edit_session_type_path(session_type) %></td>
    <td><%= link_to 'Destroy', session_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New session_type', new_session_type_path %>