<h1>Listing states</h1>

<table>
  <thead>
  <tr>
    <th>State</th>
    <th>Abbreviation</th>
  </tr>
  </thead>

  <tbody>
<% @states.each do |state| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to state.state, state %></td>
    <td><%=h state.abbreviation %></td>
    <td><%= link_to 'Edit', edit_state_path(state) %></td>
    <td><%= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New state', new_state_path %>