<p>
  <b>Skill:</b>
  <%=h @skill.skill %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @skill.abbreviation %>
</p>

<p>
  <b>Sort:</b>
  <%=h @skill.sort %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>