<h1>Listing songs</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Sort Title</th>
    <th>Song Form</th>
    <th>Description</th>
    <th>Contrafactual Parent</th>
  </tr>
  </thead>

  <tbody>
<% @songs.each do |song| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h song.title %></td>
    <td><%=h song.sort_title %></td>
    <td><%=h song.song_form.try(:song_form) %></td>
    <td><%=h truncate(song.description) %></td>
    <td><%=h song.contrafact_id %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @songs %>

<br />

<%= link_to 'New song', new_song_path %>