<p>
  <b>Title:</b>
  <%=h @song.title %>
</p>
<p>
  <b>Sort Title:</b>
  <%=h @song.sort_title %>
</p>

<p>
  <b>Song form:</b>
  <%=h @song.song_form_id %>
</p>
<p>
  <b>Description:</b>
  <%=h @song.description %>
</p>
<p>
  <b>Contrafactual Parent:</b>
  <%=h @song.contrafact_id %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>