<h1>Listing countries</h1>
<%= submit_tag  "toggle", :id => "toggleButton"%>

<table>
  <thead>
    <tr>
    <th>Country</th>
    <th>Abbreviation</th>
  </tr>
  </thead>
  <tbody id="table-data">
  <% @countries.each do |country| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to country.country, country %></td>
    <td><%=h country.abbreviation %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New country', new_country_path %>