<%= form_for(@release) do |f| %>
  <%= f.error_messages :class => "error", :id => nil %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :sort_title %><br />
    <%= f.text_field :sort_title %>
  </p>
  <p>
    <%= f.label :label_id %><br />
    <%= f.collection_select :label_id, Label.all, :id, :label  %>
  </p>
  <p>
    <%= f.label :catalogue_number %><br />
    <%= f.text_field :catalogue_number %>
  </p>
  <p>
    <%= f.label :issue_date %><br />
    <%= f.date_select :issue_date %>
  </p>
  <p>
    <%= f.label :medium_id %><br />
    <%= f.collection_select :medium_id, Medium.all, :id, :medium  %>
  </p>
  <p>
    <%= f.label :ASIN %><br />
    <%= f.text_field :ASIN %>
  </p>
  <p>
    <%= f.label :volumes %><br />
    <%#= f.text_field :volumes %>
    <%= f.select :volumes, options_for_select(1..6) %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
