<h1>Listing releases</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Sort title</th>
    <th>Label</th>
    <th>Catalogue Number</th>
    <th>Issue Date</th>
    <th>Medium</th>
    <th>ASIN</th>
    <th>Volumes</th>
  </tr>
  </thead>

  <tbody>
<% @releases.each do |release| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h release.title %></td>
    <td><%=h release.sort_title %></td>
    <td><%=h release.label.label %></td>
    <td><%=h release.catalogue_number %></td>
    <td><%=h release.issue_date %></td>
    <td><%=h release.medium.medium %></td>
    <td><%=h release.ASIN %></td>
    <td><%=h release.volumes %></td>
    <td><%= link_to 'Show', release %></td>
    <td><%= link_to 'Edit', edit_release_path(release) %></td>
    <td><%= link_to 'Destroy', release, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New release', new_release_path %>