<p>
  <b>Title:</b>
  <%=h @release.title %>
</p>

<p>
  <b>Sort title:</b>
  <%=h @release.sort_title %>
</p>

<p>
  <b>Label:</b>
  <%=h @release.label.label %>
</p>

<p>
  <b>Catalogue number:</b>
  <%=h @release.catalogue_number %>
</p>

<p>
  <b>Issue date:</b>
  <%=h @release.issue_date %>
</p>

<p>
  <b>Medium:</b>
  <%=h @release.medium.medium %>
</p>

<p>
  <b>Asin:</b>
  <%=h @release.ASIN %>
</p>

<p>
  <b>Volumes:</b>
  <%=h @release.volumes %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>