<%= form_for(@performance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :session_id %><br />
    <%= f.collection_select :session_id, Session.all, :id, :title %>
  </p>
  <p>
    <%= f.label :song_id %><br />
    <%= f.collection_select :song_id, Song.all, :id, :title %>
  </p>
  <p>
    <%= f.label :performance_type %><br />
    <%= f.collection_select :performance_type_id, PerformanceType.all, :id, :performance_type %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.datetime_select :duration %>
  </p>
  <p>
    <%= f.label :medley %><br />
    <%= f.check_box :medley %>
  </p>
  <p>
    <%= f.label :matrix %><br />
    <%= f.text_field :matrix %>
  </p>
  <p>
    <%= f.label :medley_id %><br />
    <%= f.text_field :medley_id %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
