<p>
  <b>Music Session:</b>
  <%=h @performance.music_session_id %>
</p>

<p>
  <b>Song:</b>
  <%=h @performance.song_id %>
</p>

<p>
  <b>Performance type:</b>
  <%=h @performance.performance_type %>
</p>

<p>
  <b>Duration:</b>
  <%=h @performance.duration %>
</p>

<p>
  <b>Medley:</b>
  <%=h @performance.medley %>
</p>

<p>
  <b>Matrix:</b>
  <%=h @performance.matrix %>
</p>

<p>
  <b>Medley:</b>
  <%=h @performance.medley_id %>
</p>


<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
