<nav id="navigation">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to 'Artists', artists_path %></li>
    <li><%= link_to 'Countries', countries_path %></li>
    <li><%= link_to 'Labels', labels_path %></li>
    <li><%= link_to 'Media', media_path %></li>
    <li><%= link_to 'Performance Types', performance_types_path %></li>
    <li><%= link_to 'Performances', performances_path %></li>
    <li><%= link_to 'Releases', releases_path %></li>
    <li><%= link_to 'Music Sessions', music_sessions_path %></li>
    <li><%= link_to 'Music Session Types', music_session_types_path %></li>
    <li><%= link_to 'Skills', skills_path %></li>
    <li><%= link_to 'Songs', songs_path %></li>
    <li><%= link_to 'Song Forms', song_forms_path %></li>
    <li><%= link_to 'States', states_path %></li>
  </ul>
</nav>
