<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Countries: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'styles' %>
</head>
  <body class="container">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>