<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Wikidiscography: <%= @title || controller.controller_name+" > "+controller.action_name %></title>
  <%= csrf_meta_tag  %> <!--provides authenticity token for server -->
  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag 'screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'styles', :media => "screen, projection" %>
<!--the followinc script tags are from google analytics. -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17795429-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
  <body class="container">
    <div class="span-24 last" id="navigation_content">
      <%= render :partial => 'layouts/navigation' %>
    </div>

    <% if flash[:notice] %>
      <p class="success span-24 last"><%= flash[:notice] %></p>
    <% end %>
    <div class="span-24 last" id="main_content">
      <%= yield %>
    </div>
  </body>
</html>
